body {
  background-color: aliceblue;
}

.feed_container {
  display: flex;
  flex-flow: row;
  padding-right: .5em;
}

.image_feed {
  display: flex;
  justify-content: space-evenly;
  flex-flow: wrap;
  width: 65%;
}

.feed_item {
  width: 11em;
}

.card_item {
  .content {
    .description {
      font-size: 10px;
    }
  }
}

.map_marker {
  margin-top: -3.5em;
  margin-left: -2.25em;
}

.large_map {
  border: groove #f5e5e5;
  width: 55em;
  height: 30em;
}

.title {
  display: flex;
  justify-content: center;
  padding-top: .3em;
  padding-bottom: 1em;

  h1 {
    padding-top: .2em;
  }
}

.heart {
}
